<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="game-platforms">
        <img
          class="game-platform"
          src="https://w7.pngwing.com/pngs/704/597/png-transparent-computer-icons-command-line-interface-linux-system-console-command-line-icon-miscellaneous-text-rectangle-thumbnail.png"
          alt="slug"
        />
      </div>
    </div>
  </div>
</div>
