<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="about">
      <p *ngIf="game.parent_platforms?.length" class="game-tabs-par">
        Platforms:
        <span *ngFor="let platform of game.parent_platforms; let last = last"
          >{{ platform.platform.name }}<span *ngIf="!last">, </span>
        </span>
      </p>
      <p *ngIf="game.publishers?.length" class="game-tabs-par">
        Publishers:
        <span *ngFor="let publisher of game.publishers; let last = last"
          >{{ publisher.name }}<span *ngIf="!last">, </span></span
        >
      </p>
      <p *ngIf="game.website" class="game-tabs-par">
        Website:
        <a class="game-tabs-link" href="{{ game.website }}" target="_blank">{{
          game.website
        }}</a>
      </p>
      <div
        *ngIf="game.description"
        [innerHTML]="game.description"
        class="game-description"
      ></div>
      <p *ngIf="game.ratings?.length" class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">{{ upvotes }}</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">{{ downvotes }}</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img
        class="game-screenshot"
        src="https://media.rawg.io/media/resize/1920/-/screenshots/33b/33b9d84f26cee5ab59496c669a1551d5.jpg"
        alt="screenshot"
      />
    </mat-tab>
    <mat-tab label="Trailers">
      <video class="game-trailer" controls>
        <source src="google.com" type="video/mp4" />
        Your browser does not support the video tag
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
